<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0;url=http://172.21.0.2:8080/finish_sfm">
        <link rel="stylesheet" type="text/css" href="../static/css/pcs_sfm.css" />

        <title>Detect Crack</title>
    </head>
    <body style="background-image: url('../static/images/background.jpg'); background-size: auto;" class="body">
        <div class="header">
            <a href='/'>2022 Software Engineering Capstone Design T6</a>
            <div class="nav-items">
                <div class="nav-item">Introduction</div>
            </div>
        </div>

        <div class="main">
            <img src="../static/images/robot_19.gif" width="50%">
            <br><br>
            <div class="headtitle">
                SfM이 열심히 건물을 짓고 있습니다!
    
            </div>

            <div class="result-image">
            </div>

            <div class="subtitle">
                잠시만 기다려주세요
           </div>
        </div>

    </body>

</html>