<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="2;url=http://172.21.0.2:8080/pcs_sfm">
        <link rel="stylesheet" type="text/css" href="static/css/finish_yolo.css" />

        <title>Detect Crack</title>
    </head>
    <body style="background-image: url('../static/images/background.jpg'); background-size: auto;" class="body">
        <div class="header">
            <a href='/'>2022 Software Engineering Capstone Design T6</a>
            <div class="nav-items">
                <div class="nav-item">Introduction</div>
            </div>
        </div>
        
        <div class="main">
            <div class="title">
                Yolov5 Finished!!
            </div>

            <div style="background-image: url('../static/images/robot_09.png');" class="result-image">
            </div>

            <div class="subtitle">
                Yolov5 has succesfully detected cracks
            </div>
        </div>
        
    </body>
</html>
