a {
    text-decoration-line: none;
    color: inherit;
  }

.header {
    height: 50px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-left: 1%;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
}
.nav-items {
    display: flex;
    color: white;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}
.nav-item {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    padding: 5px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: aquamarine;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-item:hover:after { 
    width: 100%; 
    left: 0; 
}

.title {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 150px;
    font-weight: 300;
    margin: 1%;
}
.body {
    color: aliceblue;
    height: 100vh;
    background-image: url('static/images/background.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}
.subtitle {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
    margin-top: 1%;
}

.upload {
    text-align: center;
    margin-top: 100px;
}

input {
    border: 1px solid aliceblue;
    background-color: rgba(0,0,0,0);
    padding: 5px;
}

.middle {
    text-align: center;
}

.btn {
    margin: auto;
    color : white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px; 
    border-color: aquamarine;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    margin-bottom: 15px;
}
.btn.video { 
    height: 55%;
}

.btn.submit {
    height: 5%;
    width: 10%;
    border-width: 3px;
    font-size: 20pt;
}

.btn.submit:hover {
    height: 5%;
    width: 10%;
    font-size: 20pt;
    border-color: yellow;
}